body{
  min-height: 100vh;
  margin: 0;
  background:url(image\ cv/blue.jpg);
  background-size: cover;
  background-attachment: fixed;
}


a {
  color: black;
}


h1{justify-content: center;
  align-items: center;
  text-align: center;
  background:url(image\ cv/bois.png);
  border: solid 8px black;
  padding: 10px;
  border-radius: 50px;
  margin-top: 20px;
}


table,tr{
border: solid 5px green;
padding: 30px;
border-radius: 10px;
margin-top: 20px;
font-size: 50px;
justify-content: center;
  align-items: center;
  text-align: center;
}
    
  
h1{font-size: 50px;}
  h2,h4,h5{font-size: 30px;}
  h3{font-size: 90px;}
  a,li,{font-size: 40px;}
  table{font-size: 40px;}